body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#eventContainer {
  max-height: 75vh;
  overflow-x: scroll;
}

#venueContainer {
  max-height: 75vh;
  overflow-x: scroll;
}

#eventList {
  max-height: 60vh;
  overflow-x: scroll;
}

#ticketForm {
  max-height: 75vh;
  overflow-x: scroll;
}

/* h1 {
  font-family: 'Roboto', sans-serif;
  font-size: large;
} */

p {
  font-family: 'Roboto', sans-serif;
  font-size: large;
}